* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background: #ddd;
  color: #333;
}

header {
  margin-top: 4rem;
  text-align: center;

  h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  p {
    font-style: italic;
    color: #666;
    margin: 0;
  }
}

main {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
        padding: 2rem 0;
        border: 4px solid #333;
        border-radius: 20px;
        background: #f0f0f0;
        width: 50%;
        max-width: 600px;
        box-sizing: border-box;

        .divider {
            width: 90%;
            height: 4px;
            background-color: #333;
            margin: 1rem auto;
        }
    }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;

    :hover {
        transform: scale(1.05);
    }
  }
}

footer {
    text-align: center;
    padding: 2rem 1rem;

    button {
        padding: 0.8rem 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        border: 2px solid #333;
        border-radius: 10px;
        background: #f0f0f0;
        cursor: pointer;
        transition: 0.2s all;
    }
}

/* Tablette : largeur 2/3 */
@media (max-width: 1024px) {
  .box {
    width: 66%;
    font-size: 3rem;
  }
}

/* Mobile : largeur 80% */
@media (max-width: 600px) {
  header h1 {
    font-size: 2.5rem;
  }
  .box {
    width: 80%;
    font-size: 2.5rem;
  }

  .divider {
    width: 85%;
    height: 3px;
    margin: 0.8rem 0;
  }
}